h1 {
    font-size: 4.5rem;
    font-weight: 600; // semi bold
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

.Mobile {
    margin: 50vh 15%;

    span {
        color: yellow;
    }
}

body {
    background-color: black;
    color: white;
    font-family: "Playfair Display", serif;

    header {
        margin: 7.5vh 20% 10vh;
        text-align: center;

        span {
            color: yellow;
        }
    }

    main {
        margin: 10vh 10%;
        display: flex;

        & > * { // all direct children 
            float: left;
            margin: 1rem 3%;
            width: 100%;
        }

        .Network {
            width: auto;
        }

        .Output {
            
            button {
                float: right;
                border: 1px solid yellow;
                // padding: 2rem;
                width: min-content;
                height: min-content;
                background-color: black;

                h3 {
                    margin: 0 1rem;
                    color: white;
                }
            }

            > h3 {
                margin: 20% 0;
                height: min-content;
                
                span {
                    color: yellow;
                    font-size: 7rem;
                }
            }
        } 
    }

    footer {
        margin: 10vh 20% 0;
        text-align: center;

        span {
            color: yellow;
        }
    }
}